In [1]:
import pandas as pd
%matplotlib inline

In [255]:
with pd.ExcelFile('Frota_Reg_UF-Tipo_Modelo_Fevereiro_2019.xls') as xls:
    df_estados = pd.read_excel(xls, usecols=[0, 4, 8, 15, 16], na_values=['NA'], skiprows=2, skipfooter=10)
    df_regioes = pd.read_excel(xls, usecols=[0, 4, 8, 15, 16], na_values=['NA'], skiprows=2, skipfooter=10)

In [256]:
# Renomear Colunas
df_estados.columns = ['Estado', 'Caminhões', 'Plataforma', 'Reboque', 'Semi-Reboque']
df_regioes.columns = ['Região', 'Caminhões', 'Plataforma', 'Reboque', 'Semi-Reboque']

In [257]:
# deletar linhas das regiões
df_estados.drop(1, inplace=True)  # Norte
df_estados.drop(9, inplace=True)  # Nordeste
df_estados.drop(19, inplace=True) # Sudeste
df_estados.drop(24, inplace=True) # Sul
df_estados.drop(28, inplace=True) # Centro-oeste

In [258]:
# deletar linhas dos estados
df_regioes.drop(2, inplace=True)
df_regioes.drop(3, inplace=True)
df_regioes.drop(4, inplace=True)
df_regioes.drop(5, inplace=True)
df_regioes.drop(6, inplace=True)
df_regioes.drop(7, inplace=True)
df_regioes.drop(8, inplace=True)
df_regioes.drop(10, inplace=True)
df_regioes.drop(11, inplace=True)
df_regioes.drop(12, inplace=True)
df_regioes.drop(13, inplace=True)
df_regioes.drop(14, inplace=True)
df_regioes.drop(15, inplace=True)
df_regioes.drop(16, inplace=True)
df_regioes.drop(17, inplace=True)
df_regioes.drop(18, inplace=True)
df_regioes.drop(20, inplace=True)
df_regioes.drop(21, inplace=True)
df_regioes.drop(22, inplace=True)
df_regioes.drop(23, inplace=True)
df_regioes.drop(25, inplace=True)
df_regioes.drop(26, inplace=True)
df_regioes.drop(27, inplace=True)
df_regioes.drop(29, inplace=True)
df_regioes.drop(30, inplace=True)
df_regioes.drop(31, inplace=True)
df_regioes.drop(32, inplace=True)

In [259]:
# Criar campo de soma Total
df_estados['Total'] = (df_estados['Caminhões'] + df_estados['Reboque'] + df_estados['Semi-Reboque'] + df_estados['Plataforma'])
df_regioes['Total'] = (df_regioes['Caminhões'] + df_regioes['Reboque'] + df_regioes['Semi-Reboque'] + df_regioes['Plataforma'])

In [260]:
df_estados.sort_values(by='Total', ascending=False)

,Estado,Caminhões,Plataforma,Reboque,Semi-Reboque,Total
0,Brasil,2773954,1762,1626230,968072,5370018
23,São Paulo,680182,586,353226,251353,1285347
21,Minas Gerais,335816,24,191325,89054,616219
25,Paraná,273104,70,137653,133355,544182
26,Rio Grande do Sul,231371,134,182846,75692,490043
30,Goiás,112753,56,173185,49487,335481
27,Santa Catarina,153380,37,107036,71012,331465
22,Rio de Janeiro,145047,59,70770,21504,237380
11,Bahia,118653,185,51490,35913,206241
31,Mato Grosso,73634,3,38333,60005,171975
15,Pernambuco,93617,84,39682,19930,153313
20,Espírito Santo,73714,13,31719,25770,131216
12,Ceará,74087,114,37168,13120,124489
32,Mato Grosso do Sul,53615,33,34774,30114,118536
5,Pará,62314,94,24729,15913,103050
13,Maranhão,41601,68,12046,8031,61746
6,Rondônia,31148,8,15094,12635,58885
17,Rio Grande do Norte,34599,19,14982,7487,57087
8,Tocantins,22446,2,25343,7298,55089
29,Distrito Federal,24011,18,23743,4247,52019
10,Alagoas,21674,26,17853,7290,46843
18,Sergipe,21524,20,19176,3429,44149
14,Paraíba,28746,16,8207,4638,41607
16,Piauí,30301,32,6569,4144,41046
4,Amazonas,20059,37,3218,12739,36053
2,Acre,7219,10,3303,1445,11977
7,Roraima,5161,0,1434,1336,7931
3,Amapá,4178,14,1326,1131,6649

In [261]:
df_regioes.sort_values(by='Total', ascending=False)

          Região  Caminhões  Plataforma  Reboque  Semi-Reboque    Total
0         Brasil    2773954        1762  1626230        968072  5370018
19       Sudeste    1234759         682   647040        387681  2270162
24           Sul     657855         241   427535        280059  1365690
9       Nordeste     464802         564   207173        103982   776521
28  Centro-Oeste     264013         110   270035        143853   678011
1          Norte     152525         165    74447         52497   279634